<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">GoDate</a>

       
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
             @if (accountService.currentUser()) {
                <li class="nav-item"> 
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a> 
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a> 
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a> 
                </li>
             }
        </ul>

        @if (accountService.currentUser()) {
            <div dropdown class="dropdown">
                <img
                    class="rounded-circle shadow-lg me-2"
                    src="{{accountService.currentUser()?.photoUrl || './assets/user.png'}}"
                    alt="user main image">
                <a dropdownToggle class="dropdown-toggle text-light">
                    Welcome {{accountService.currentUser()?.userName | titlecase}}
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/member/edit">Edit profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        }

        @if (!accountService.currentUser()) {
            <form class="d-flex" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                <input 
                    class="form-control me-2"
                    name="username"
                    [(ngModel)]="model.username"        
                    placeholder="Username"
                >
                <input 
                    class="form-control me-2" 
                    name="password"
                    [(ngModel)]="model.password"
                    placeholder="Password" 
                    type="password"
                >
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        }

    </div>
</nav>


<!-- [(ngModel)] : Two-way data binding -->

